:host {
  display: block;
  height: 100%;
  width: 100%;

  app-timescale-dropdown {
    margin-bottom: 24px;
  }
}

app-timeline-grid,
app-timeline-grid-v2 {
  display: block;
  flex: 1;
  min-height: 0;
  width: 100%;
}
