/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}
